#uch_lm_208 { left: 382px; top: 37px;}
#uch_lm_209 { left: 355px; top: 44px;}
#uch_lm_210 { left: 333px; top: 54px;}
#uch_lm_211 { left: 298px; top: 58px;}
#uch_lm_212 { left: 319px; top: 74px;}

#uch_lm_213 { left: 335px; top: 92px;}
#uch_lm_214 { left: 350px; top: 109px;}
#uch_lm_215 { left: 366px; top: 84px;}
#uch_lm_216 { left: 392px; top: 72px;}
#uch_lm_217 { left: 420px; top: 64px;}
#uch_lm_218 { left: 453px; top: 93px;}
#uch_lm_219 { left: 428px; top: 103px;}
#uch_lm_220 { left: 401px; top: 113px;}
#uch_lm_221 { left: 368px; top: 119px;}
#uch_lm_222 { left: 393px; top: 134px;}

#uch_lm_223 { left: 418px; top: 151px;}
#uch_lm_224 { left: 434px; top: 172px;}
#uch_lm_225 { left: 456px; top: 150px;}
#uch_lm_226 { left: 482px; top: 140px;}
#uch_lm_227 { left: 509px; top: 133px;}
#uch_lm_228 { left: 543px; top: 163px;}
#uch_lm_229 { left: 517px; top: 173px;}
#uch_lm_230 { left: 491px; top: 182px;}
#uch_lm_231 { left: 459px; top: 186px;}
#uch_lm_232 { left: 473px; top: 204px;}

#uch_lm_233 { left: 591px; top: 198px;}
#uch_lm_234 { left: 564px; top: 211px;}
#uch_lm_235 { left: 534px; top: 222px;}
#uch_lm_236 { left: 506px; top: 236px;}

#uch_lm_237 { left: 450px; top: 245px;}
#uch_lm_238 { left: 475px; top: 265px;}
#uch_lm_239 { left: 430px; top: 270px;}
#uch_lm_240 { left: 400px; top: 280px;}
#uch_lm_241 { left: 370px; top: 290px;}
#uch_lm_242 { left: 340px; top: 300px;}

/* q3 */
#uch_lm_243 { left: 305px; top: 270px;}
#uch_lm_244 { left: 333px; top: 256px;}
#uch_lm_245 { left: 360px; top: 243px;}
#uch_lm_246 { left: 385px; top: 230px;}
#uch_lm_247 { left: 428px; top: 225px;}
#uch_lm_248 { left: 410px; top: 210px;}
#uch_lm_249 { left: 390px; top: 190px;}
#uch_lm_250 { left: 370px; top: 175px;}
#uch_lm_251 { left: 348px; top: 200px;}
#uch_lm_252 { left: 320px; top: 212px;}
#uch_lm_253 { left: 275px; top: 230px;}

#uch_lm_254 { left: 224px; top: 197px;}
#uch_lm_255 { left: 250px; top: 185px;}
#uch_lm_256 { left: 280px; top: 174px;}
#uch_lm_257 { left: 310px; top: 163px;}
#uch_lm_258 { left: 349px; top: 156px;}
#uch_lm_259 { left: 328px; top: 141px;}
#uch_lm_260 { left: 308px; top: 129px;}
#uch_lm_261 { left: 293px; top: 113px;}

#uch_lm_262 { left: 275px; top: 130px;}
#uch_lm_263 { left: 245px; top: 140px;}
#uch_lm_264 { left: 215px; top: 150px;}
#uch_lm_265 { left: 185px; top: 160px;}

#uch_lm_266 { left: 155px; top: 130px;}
#uch_lm_267 { left: 182px; top: 117px;}
#uch_lm_268 { left: 207px; top: 105px;}
#uch_lm_269 { left: 232px; top: 95px;}
#uch_lm_270 { left: 257px; top: 75px;}
#uch_lm_271 { left: 272px; top: 90px;}

/* q4-1 */

#uch_lm_300 {left: 600px; top: 105px;}
#uch_lm_301 {left: 583px; top: 115px;}
#uch_lm_302 {left: 558px; top: 123px;}
#uch_lm_303 {left: 520px; top: 123px;}
#uch_lm_304 {left: 493px; top: 130px;}
#uch_lm_305 {left: 522px; top: 150px;}
#uch_lm_306 {left: 497px; top: 155px;}
#uch_lm_307 {left: 473px; top: 158px;}
#uch_lm_308 {left: 446px; top: 165px;}
#uch_lm_309 {left: 423px; top: 175px;}
#uch_lm_310 {left: 400px; top: 180px;}
#uch_lm_311 {left: 373px; top: 182px;}
#uch_lm_312 {left: 340px; top: 193px;}
#uch_lm_313 {left: 306px; top: 200px;}
#uch_lm_314 {left: 279px; top: 207px;}
#uch_lm_315 {left: 247px; top: 215px;}

#uch_lm_316 {left: 214px; top: 222px;}
#uch_lm_317 {left: 182px; top: 230px;}
#uch_lm_318 {left: 152px; top: 237px;}
#uch_lm_319 {left: 115px; top: 245px;}
#uch_lm_320 {left: 80px; top: 255px;}
#uch_lm_321 {left: 48px; top: 262px;}

#uch_lm_322 {left: 60px; top: 290px;}
#uch_lm_323 {left: 88px; top: 280px;}
#uch_lm_324 {left: 115px; top: 270px;}
#uch_lm_325 {left: 140px; top: 265px;}
#uch_lm_326 {left: 167px; top: 260px;}
#uch_lm_327 {left: 192px; top: 255px;}
#uch_lm_328 {left: 219px; top: 249px;}
#uch_lm_329 {left: 244px; top: 245px;}
#uch_lm_330 {left: 269px; top: 237px;}
#uch_lm_331 {left: 292px; top: 228px;}
#uch_lm_332 {left: 317px; top: 223px;}
#uch_lm_333 {left: 342px; top: 219px;}
#uch_lm_334 {left: 367px; top: 213px;}
#uch_lm_335 {left: 392px; top: 208px;}
#uch_lm_336 {left: 417px; top: 202px;}
#uch_lm_337 {left: 441px; top: 197px;}
#uch_lm_338 {left: 465px; top: 190px;}
#uch_lm_339 {left: 490px; top: 195px;}
#uch_lm_340 {left: 508px; top: 180px;}
#uch_lm_341 {left: 535px; top: 183px;}
#uch_lm_342 {left: 551px; top: 165px;}
#uch_lm_343 {left: 583px; top: 172px;}
#uch_lm_344 {left: 603px; top: 155px;}
#uch_lm_345 {left: 629px; top: 141px;}
#uch_lm_346 {left: 644px; top: 120px;}
#uch_lm_347 {left: 674px; top: 140px;}
#uch_lm_348 {display: none;}


/* q4-2 */
#uch_lm_349 {left: 37px; top: 270px;}
#uch_lm_350 {left: 64px; top: 258px;}
#uch_lm_351 {left: 91px; top: 251px;}
#uch_lm_352 {left: 120px; top: 245px;}
#uch_lm_353 {left: 148px; top: 234px;}
#uch_lm_354 {left: 175px; top: 224px;}
#uch_lm_355 {left: 205px; top: 217px;}
#uch_lm_356 {left: 242px; top: 212px;}
#uch_lm_357 {left: 275px; top: 203px;}
#uch_lm_358 {left: 308px; top: 193px;}
#uch_lm_359 {left: 340px; top: 184px;}
#uch_lm_360 {left: 368px; top: 175px;}
#uch_lm_361 {left: 398px; top: 166px;}
#uch_lm_362 {left: 430px; top: 158px;}
#uch_lm_363 {left: 470px; top: 150px;}
#uch_lm_364 {left: 500px; top: 140px;}
#uch_lm_365 {left: 540px; top: 126px;}
#uch_lm_366 {left: 580px; top: 114px;}

#uch_lm_367 {left: 96px; top: 283px;}
#uch_lm_368 {left: 124px; top: 276px;}
#uch_lm_369 {left: 152px; top: 270px;}
#uch_lm_370 {left: 179px; top: 262px;}
#uch_lm_371 {left: 206px; top: 254px;}
#uch_lm_372 {left: 234px; top: 246px;}
#uch_lm_373 {left: 264px; top: 238px;}
#uch_lm_374 {left: 290px; top: 228px;}
#uch_lm_375 {left: 315px; top: 221px;}
#uch_lm_376 {left: 341px; top: 214px;}
#uch_lm_377 {left: 368px; top: 207px;}
#uch_lm_378 {left: 395px; top: 200px;}
#uch_lm_379 {left: 422px; top: 192px;}
#uch_lm_380 {left: 450px; top: 185px;}
#uch_lm_381 {left: 477px; top: 180px;}
#uch_lm_382 {left: 505px; top: 195px;}
#uch_lm_383 {left: 480px; top: 205px;}
#uch_lm_384 {left: 452px; top: 213px;}
#uch_lm_385 {left: 422px; top: 223px;}
#uch_lm_386 {left: 395px; top: 229px;}
#uch_lm_387 {left: 368px; top: 236px;}
#uch_lm_388 {left: 344px; top: 242px;}
#uch_lm_389 {left: 320px; top: 249px;}
#uch_lm_390 {left: 296px; top: 255px;}
#uch_lm_391 {left: 271px; top: 263px;}
#uch_lm_392 {left: 245px; top: 271px;}
#uch_lm_393 {left: 216px; top: 279px;}
#uch_lm_394 {left: 186px; top: 287px;}
#uch_lm_395 {left: 156px; top: 295px;}
#uch_lm_396 {left: 126px; top: 305px;}

#uch_lm_397 {left: 502px; top: 165px;}
#uch_lm_398 {left: 531px; top: 158px;}
#uch_lm_399 {left: 556px; top: 150px;}
#uch_lm_400 {left: 580px; top: 142px;}
#uch_lm_401 {left: 602px; top: 134px;}
#uch_lm_402 {left: 628px; top: 128px;}
#uch_lm_403 {left: 658px; top: 143px;}
#uch_lm_404 {left: 638px; top: 151px;}
#uch_lm_405 {left: 618px; top: 160px;}
#uch_lm_406 {left: 600px; top: 168px;}
#uch_lm_407 {left: 573px; top: 176px;}
#uch_lm_408 {left: 547px; top: 184px;}
#uch_lm_409 {display: none; }













































































