body {
	
}

#lm_map_js {
	width: 740px;
	height: 400px;
	font-family: "PFSquareSansProReg",Tahoma,Arial;
	margin: 0 auto;
	background-color: #fff;
}

#lm_map_js {
	width: 740px;
	height: 400px;
	font-family: "PFSquareSansProReg",Tahoma,Arial;
	margin: 0 auto;
	background-color: #fff;
}

.container {
	width: 100%;
	height: 100%;
	display:none;
	position:relative;
}

.container  .about_popup {
	background: url("/img/map/bubble_bg_2.png") no-repeat scroll left top;
    font-size: 12px;
    height: 120px;
    left: 198px;
    line-height: 16px;
    padding: 12px 27px;
    position: absolute;
    top: 128px;
    width: 290px;
    text-align:left;
}

.container  .about_popup .number {
	font-size: 16px;
	margin-bottom: 10px;
}

.container  .about_popup .more {
	margin-top: 10px;
	font-size: 14px;
}
.container  .about_popup .close{
	width: 20px;
	height: 20px;
	position: absolute;
	cursor:pointer;
	background: url(/img/map/close_pop.png) left top no-repeat;
	right: 16px;
    top: 10px;
}

.container  .about_popup span {
	color: #00a3d8;
}

.container  .about_popup a {
	color: #00a3d8;
	text-decoration:underline;
	padding-top: 4px;
}

.container  .about_popup a:hover{
	text-decoration:none;
}


.container .mini_tablet {
	background: url("/img/map/tabs.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    padding-top:2px;
    line-height:11px;
    height: 21px;
    position: absolute;
    text-align: center;
    width: 26px;
  	top:200px;
  	left:350px;
}

#query_second .mini_tablet {
	font-size: 12px;
}

.container .mini_tablet .bubble{
    display: none;
}

.container .no_active {
	background: url(/img/map/tab_noactive) left top no-repeat;	
}

.container .sold {
	background: url(/img/map/tabs.png) bottom left no-repeat;	
}

.container .reserved {
	background: url(/img/map/tabs.png) top right no-repeat;	
}

.container .out_of_sale {
	background: url(/img/map/tabs.png) bottom right no-repeat;	
}



.container  .back{
	background: url("/img/map/back_bg.png") no-repeat scroll left top;
	color: #00A3D8;
	cursor: pointer;
	font-size: 13px;
	height: 24px;
	left: 14px;
	padding-left: 24px;
	padding-top: 4px;
	position: absolute;
	top: 16px;
	width: 180px;
}

#lm_map_js .loading {
	background: url("/img/map/logo_moveable.gif") no-repeat scroll 150px 43% #FFFFFF;
    height: 100%;
    padding-left: 60px;
    text-align: center;
    vertical-align: middle;
    width: 680px;
}

#lm_map_js .gray_big_text {
	font-size: 24px;
	color: #606163;
	text-decoration:none;
	border:0;
	line-height: 400px;
}

#lm_map_js .orange_big_text {
	font-size: 24px;
	color: #f69942;
	text-decoration: none;
	border: 0;
}

#lm_map_js #main_page {
	background: url(/img/map/lm/lm_main.jpg) center center no-repeat;
}

#lm_map_js #main_page  .tablet {
	  background: url("/img/map/big_tab.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    height: 64px;
    left: 0;
    line-height: 11px;
    padding-top: 7px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 110px;
}

#lm_map_js #main_page  .tablet_1 {
	left: 576px;
    top: 143px;

}

#lm_map_js #main_page  .tablet_2 {
	left: 423px;
    top: 194px;

}

#lm_map_js #main_page  .tablet_3 {
	left: 572px;
    top: 230px;

}
#lm_map_js #main_page  .tablet_5 {
	left: 365px;
  top: 143px;
}

#lm_map_js #main_page  .tablet_4 {
	left: 110px;
    top: 205px;
}

#main_page  .small_text {
	font-size: 9px;
	line-height: 12px;
  color: #a1f480;
}

#query_first {
	background: url(/img/map/lm/lm_1.jpg) center center no-repeat;
}

#query_second {
	background: url(/img/map/lm/lm_2.jpg) center center no-repeat;
}

#query_third {
	background: url(/img/map/lm/lm_3.jpg) center center no-repeat;
}

#query_fourth_1{
	background: url(/img/map/lm/lm_4.jpg) center center no-repeat;
}

#query_fourth_2 {
	background: url(/img/map/lm/lm_5.jpg) center center no-repeat;
}