#uch_lm_270 {left: 663px;
top: 153px;}
#uch_lm_271 {left: 635px;
top: 163px;}
#uch_lm_272 {left: 604px;
top: 171px;}
#uch_lm_273 {left: 574px;
top: 180px;}
#uch_lm_274 {left: 546px;
top: 187px;}
#uch_lm_275 {left: 505px;
top: 203px;}
#uch_lm_276 {left: 471px;
top: 211px;}
#uch_lm_277 {left: 438px;
top: 220px;}
#uch_lm_278 {left: 403px;
top: 232px;}
#uch_lm_279 {left: 370px;
top: 242px;}
#uch_lm_280 {left: 339px;
top: 251px;}
#uch_lm_281 {left: 306px;
top: 261px;}
#uch_lm_282 {left: 275px;
top: 271px;}
#uch_lm_283 {left: 242px;
top: 281px;}
#uch_lm_284 {left: 208px;
top: 290px;}
#uch_lm_285 {left: 174px;
top: 300px;}
#uch_lm_286 {left: 130px;
top: 310px;}


#uch_lm_287 {left: 98px;
top: 290px;}
#uch_lm_288 {left: 132px;
top: 280px;}
#uch_lm_289 {left: 165px;
top: 273px;}
#uch_lm_290 {left: 197px;
top: 263px;}
#uch_lm_291 {left: 230px;
top: 254px;}
#uch_lm_292 {left: 260px;
top: 245px;}
#uch_lm_293 {left: 292px;
top: 238px;}
#uch_lm_294 {left: 324px;
top: 229px;}
#uch_lm_295 {left: 356px;
top: 217px;}
#uch_lm_296 {left: 387px;
top: 208px;}
#uch_lm_297 {left: 417px;
top: 199px;}
#uch_lm_298 {left: 447px;
top: 191px;}
#uch_lm_299 {left: 475px;
top: 184px;}
#uch_lm_300 {left: 511px;
top: 170px;}
#uch_lm_301 {left: 542px;
top: 162px;}
#uch_lm_302 {left: 572px;
top: 153px;}
#uch_lm_303 {left: 601px;
top: 143px;}
#uch_lm_304 {left: 628px;
top: 135px;}




#uch_lm_305 {left: 578px;
top: 121px;}
#uch_lm_306 {left: 521px;
top: 137px;}
#uch_lm_307 {left: 476px;
top: 150px;}

#uch_lm_308 {left: 427px;
top: 163px;}
#uch_lm_309 {left: 395px;
top: 173px;}
#uch_lm_310 {left: 368px;
top: 181px;}
#uch_lm_311 {left: 339px;
top: 190px;}
#uch_lm_312 {left: 307px;
top: 200px;}
#uch_lm_313 {left: 254px;
top: 212px;}
#uch_lm_314 {left: 205px;
top: 221px;}

#uch_lm_315 {left: 171px;
top: 230px;}
#uch_lm_316 {left: 140px;
top: 240px;}
#uch_lm_317 {left: 107px;
top: 249px;}
#uch_lm_318 {left: 77px;
top: 258px;}
#uch_lm_319 {left: 44px;
top: 267px;}


/* ---------------------------------------------------------------------------------------------------------------*/
#uch_lm_320{left:602px; 
top:103px} 
#uch_lm_321{left:582px; 
top:120px}
#uch_lm_322{left:556px; 
top:128px}
#uch_lm_323{left:525px; 
top:133px}
#uch_lm_324{left:489px; 
top:126px}
#uch_lm_325{left:494px; 
top:156px}
#uch_lm_326{left:465px; 
top:160px}
#uch_lm_327{left:435px; 
top:171px}
#uch_lm_328{left:403px; 
top:177px}
#uch_lm_329{left:376px; 
top:184px}
#uch_lm_330{left:342px; 
top:191px}
#uch_lm_331{left:298px; 
top:202px}
#uch_lm_332{left:264px; 
top:211px}
#uch_lm_333{left:228px; 
top:219px}
#uch_lm_334{left:192px; 
top:226px}
#uch_lm_335{left:157px; 
top:236px}
#uch_lm_336{left:123px; 
top:245px}
#uch_lm_337{left:86px; 
top:254px} 
#uch_lm_338{left:46px; 
top:262px} 
#uch_lm_339{left:63px; 
top:290px} 
#uch_lm_340{left:94px; 
top:282px} 
#uch_lm_341{left:122px; 
top:274px}  
#uch_lm_342{left:151px; 
top:268px}  
#uch_lm_343{left:178px; 
top:261px}  
#uch_lm_344{left:206px; 
top:255px}  
#uch_lm_345{left:234px; 
top:247px}  
#uch_lm_346{left:262px; 
top:244px}  
#uch_lm_347{left:287px; 
top:235px}  
#uch_lm_348{left:318px; 
top:230px}  
#uch_lm_349{left:346px; 
top:223px}  
#uch_lm_350{left:373px; 
top:217px}  
#uch_lm_351{left:400px; 
top:214px}  
#uch_lm_352{left:417px; 
top:198px}  
#uch_lm_353{left:445px; 
top:201px}  
#uch_lm_354{left:466px; 
top:189px}  
#uch_lm_355{left:493px; 
top:192px}  
#uch_lm_356{left:518px; 
top:184px}  
#uch_lm_357{left:542px; 
top:175px}  
#uch_lm_358{left:569px; 
top:169px}  
#uch_lm_359{left:591px; 
top:159px}  
#uch_lm_360{left:619px; 
top:161px}  
#uch_lm_361{left:642px; 
top:150px}  
#uch_lm_362{left:668px; 
top:144px}  
#uch_lm_363{left: 635px;
top: 122px;} 


/*=================================================================================*/


