@import "reset.css" screen;

@font-face {
    font-family: 'EtelkaMediumProRegular';
    src: url('../fonts/etelka-medium-pro_16169.eot');
    src: url('../fonts/etelka-medium-pro_16169.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-medium-pro_16169.woff2') format('woff2'),
         url('../fonts/etelka-medium-pro_16169.woff') format('woff'),
         url('../fonts/etelka-medium-pro_16169.ttf') format('truetype'),
         url('../fonts/etelka-medium-pro_16169.svg#EtelkaMediumProRegular') format('svg');
         font-weight: normal;
    	 font-style: normal;
}
@font-face {
    font-family: 'EtelkaTextProBold';
    src: url('../fonts/etelka-text-pro-bold_16185.eot');
    src: url('../fonts/etelka-text-pro-bold_16185.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-text-pro-bold_16185.woff2') format('woff2'),
         url('../fonts/etelka-text-pro-bold_16185.woff') format('woff'),
         url('../fonts/etelka-text-pro-bold_16185.ttf') format('truetype'),
         url('../fonts/etelka-text-pro-bold_16185.svg#EtelkaTextProBold') format('svg');
         font-weight: normal;
    	 font-style: normal;
}
@font-face {
    font-family: 'EtelkaNarrowTextProRegular';
    src: url('../fonts/etelka-narrow-text-pro.eot');
    src: url('../fonts/etelka-narrow-text-pro.eot?#iefix') format('embedded-opentype');
    src: local('☺'),
         url('../fonts/etelka-narrow-text-pro.woff2') format('woff2'),
         url('../fonts/etelka-narrow-text-pro.woff') format('woff'),
         url('../fonts/etelka-narrow-text-pro.ttf') format('truetype'),
         url('../fonts/etelka-narrow-text-pro.svg#EtelkaTextProRegular') format('svg');
         font-weight: normal;
    	 font-style: normal;
}

@font-face {
   font-family: 'EtelkaTextProRegular';
   src: url('../fonts/EtelkaRegPro.otf');
}



.w982{
   width: 982px;
   margin: 0 auto;
   position: relative;
}

.adaptive .w982{
   width: auto;
   margin: 0 24px;
}


.w1024{
   width: 1024px;
   margin: 0 auto;
   position: relative;
}

.adaptive .w1024{
   width: auto;
   margin: 0 5px;
}

.logo{
   background: url('../img/logo.png') no-repeat;
   width: 173px;
   height: 113px;
   position: absolute;
   z-index: 3;
   margin-top: 10px;
}

.adaptive .logo{
   width: 30vw;
   height: 19.6vw;
   background-size: cover;
}

.head{
   background: #f2efea;
   height: 105px;
}

.adaptive .head{
   height: 18vw;
}

.contacts-head{
   font-family: EtelkaMediumProRegular;
   font-size: 14px;
   color: #5f5f61;
   line-height: 105px;
   float: right;
}



.contacts-head span.phone{
   color: #53b949;
   margin-right: 20px;
}

.adaptive .contacts-head span.phone{
   margin-right: 0;
}

.adaptive .contacts-head span.text-h{
   display: none;
}

.adaptive .contacts-head{
   line-height: 30px;
   font-size: 16px;
   padding-top: 12vw;
}

.adaptive .text-on-center img{
   width: 100%;
   max-width: 555px;
}

.top-bg{
   background: url('../img/top-bg.png') no-repeat scroll 50% 0;
   height: 582px;
   text-align: center;
   position: relative;
}

.text-on-center{
   padding-top: 205px;
}

.rose{
   background: url('../img/rose.png') no-repeat;
   width: 112px;
   height: 119px;
   position: absolute;
   right: 0;
   top: 90px;
}

.adaptive .rose{
   display: none;
}


.menu{
   height: 67px;
   background: #99ca3c;
   /*НЕ ТОТ!*/
   font-family: EtelkaTextProRegular;
   color: #ffffff;
   text-align: left;
   position: absolute;
   width: 100%;
   font-size: 14px;
   z-index: 2;
}

.adaptive .menu{
   height: 180px;
}

.adaptive .menu a{
   display:none;
}

.menu .button{
   position: absolute;
   right: 0;
   top: 12px;
}

.adaptive .menu .button{
   display: none;
}

.menu a{
   line-height: 67px;
   color: #ffffff;
   text-transform: uppercase;
   text-decoration: none;
   margin-right: 12px;
}

.menu a:hover{
   color: #5f5f61;
}

.map{
   background: url('../img/map.png') no-repeat scroll 50% 0;
   padding-top: 200px;
   height: 422px;
   margin-top: -40px;
}

.adaptive .map{
   background: none;
   padding-top: 100px;
   height: auto;
}

.adaptive .obl{
   display: none;
}

p{
   font-size: 15px;
   line-height: 24px;
   font-family: EtelkaTextProRegular;
   color: #67625b;
   width: 620px;
}

.adaptive p{
   width: 100%;
   font-size: 4vw;
   line-height: 4.5vw;
}

h1{
   font-size: 43px;
   font-family: EtelkaTextProBold;
   color: #67625b;
   margin-bottom: 24px;
}

p.center{
   text-align: center;
   margin-top: 70px;
   width: auto;
   font-size: 18px;
   line-height: 29px;
}

.adaptive p.center{
   margin-left: 15px;
   margin-right: 15px;

   font-size: 5vw;
   line-height: 5.5vw;
}


.adaptive p.center br{
   display: none;
}

.obl{
   background: url('../img/o.png') no-repeat scroll 50% 0;
   height: 298px;
   width: 100%;
   position: absolute;
   margin-top: -100px;
}

.car{
   background: url('../img/Untitled-1.jpg') no-repeat scroll 50% 0;
   height: 553px;
   position: relative;
   overflow: hidden;
}

.right-car-bg{
   background: url('../img/Untitled-1.jpg') no-repeat scroll 50% 0;
   height: 553px;
   position: absolute;
   width: 100%;
   right: 0;
}

.right-car{
   height: 553px;
   position: absolute;
   width: 100%;
   right: 0;
   overflow: hidden;
}

.slide-big-car{
   position: absolute;
   z-index: 10;
   width: 100%;
   padding-top: 242px;
   text-align: center;
}

.slide-big-car img{
   position: absolute;
}


.adaptive .car{
   display: none;
}

.slide-car{
   height: 46px;
   padding-top: 12px;
   text-align: center;
}

.slide-car img{
   position: absolute;
}

.adaptive .slide-car{
   display: none;
}

.multicol{
   position: relative;
   text-align: center;
}

.contents{
  width: 620px;
  margin: 0 auto;
}

.adaptive .contents{
   width: auto;
}

.one-col{
   float: left;
   width: 207px;
   margin-left: 60px;
}

.adaptive .one-col{
   float: none;
   width: auto;
   margin: 0 90px;
}

.plan{
   height: 400px;
   text-align: center;
}

.plan img{
   display: none;
}

.adaptive .plan{
   height: auto;
   background: none;
   margin-top: 10px;
}

.adaptive .plan img{
   width: 100%;
   display: block;
}

.but-to-center{
   text-align: center;
   padding-top: 25px;
   padding-bottom: 40px;
}

.but-to-center br{
   display: none;
}

.but-to-margin{
   margin: 45px 0 0 85px;
}

.adaptive .but-to-margin{
   margin-top: 45px;
   margin-left: -24px;
   text-align: center;
   padding-bottom: 30px;
}

.adaptive .but-to-center .button{
   display: inline-block;
   margin: 0 auto 20px;
}

.adaptive .but-to-center .button:after{
   width: 100%;
   height: 1px;
   content: " ";
}

.adaptive .but-to-center br{
   display: block;
}

.but-to-center .button{
   margin: 0 15px;
}

.one-col:first-child{
   margin-left: 0;
}

.adaptive .one-col:first-child{
   margin: 0 90px;
}


.col-bg{
   background: #f3f5f0;
   height: 356px;
   margin-bottom: 50px;
   padding: 0 17px;
   font-family: EtelkaTextProRegular;
   font-size: 14px;
   line-height: 22px;
   color: #67625b;
   text-align: center;
}

.adaptive .col-bg{
   font-size: 6vw;
   line-height: 6vw;
   height: auto;
   padding: 0 17px 10px;
   margin-bottom: 60px;
}

.adaptive h1{
   line-height: 7vw;
   font-size: 8vw;
}

.col-bg b{
   color: #53b949;
   font-family: EtelkaTextProBold;
}

.img-col{
   padding-top: 32px;
   margin: 0 -24px 20px;
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;

}

.one-col:hover .img-col{
   transform: scale(1.05, 1.05) ;
   -webkit-transform: scale(1.05, 1.05);
   -moz-transform: scale(1.05, 1.05);
   -o-transform: scale(1.05, 1.05);
   -ms-transform: scale(1.05, 1.05);
}

.img-col img{
   width: 100%;
}

.clear{
   clear: both;
}

.icos{
   text-align: center;
}

.icos ~ p.center{
   margin-top: 0;
}

.multicol ~ p.center{
   margin-top: 0;
}

.one-ico{
   width: 200px;
   display: inline-block;
   text-align: center;
   margin: 30px 0;
   padding: 0 15px;
   vertical-align: top;
}

.adaptive .one-ico{
   width: 90%;
   margin: 60px 0;
}

.one-ico .gray-line{
   width: 50px;
   height: 1px;
   background: #f2efea;
   margin: 20px auto;
}

.text-ico{
   color: #909090;
   font-family: EtelkaTextProRegular;
   font-size: 12px;
   line-height: 22px;
}

.title-ico{
   font-family: EtelkaTextProBold;
   font-size: 15px;
   text-transform: uppercase;
   color: #67625b;
}

.adaptive .title-ico{
   font-size: 8vw;
   line-height: 12vw;
}

.adaptive .text-ico{
   font-size: 7vw;
   line-height: 8vw;
}

.adaptive .one-ico img{
   width: 20%;
}

.find{
   height: 135px;
   background: url('../img/find.png') no-repeat scroll 50% 0;
   text-align: center;
   padding-top: 105px;
}

.adaptive .find{
   padding-top: 10%;
   margin-bottom: 10%;
}

.button{
   padding: 0 33px;
   line-height: 40px;
   text-transform: uppercase;
   color: #ffffff;
   font-family: EtelkaTextProRegular;
   font-size: 14px;
   display: inline-block;
   background: #4576c2;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;

   cursor: pointer;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.adaptive .button{
   font-size: 5.3vw;
   line-height: 15vw;
}

.button:hover{
   background: #53b949;
}

.form{
   background: url('../img/form.png') no-repeat scroll 50% 0;
   height: 608px;
   padding-top: 125px;
   margin-bottom: 70px;
}

.adaptive .form{
   background: url('../img/form.png') no-repeat;
   background-size: cover;
   height: auto;
   padding-bottom: 125px;
}

.green{
   background: url('../img/menu-bg.png');
   height: 383px;
   width: 765px;
   margin: 0 auto;
   padding: 80px 80px 0 80px;
   text-align: center;
   color: #ffffff;
}

.adaptive .green{
   width: auto;
   margin: 0 24px;
   height: auto;
   padding: 50px 24px;
}

.f1{
   text-align: left;
   font-family: EtelkaTextProBold;
   font-size: 38px;
}

.f1 span{
   font-size: 16px;
   font-family: EtelkaTextProRegular;
   margin-top: 6px;
   margin-left: 5px;
   position: absolute;
}

.adaptive .f1 span{
   left: 45px;
   margin-top: 8vw;
   font-size: 4vw;
}

.adaptive .f1{
   margin-bottom: 30px;
   font-size: 7vw;
}

.f2{
   font-size: 24px;
   font-family: EtelkaTextProRegular;
   margin-top: 25px;
   text-align: left;
   
}

.adaptive .f2{
   margin-top: 10vw;
   font-size: 4vw;
}

.f3{
   font-size: 16px;
   font-family: EtelkaTextProRegular;
   margin-top: 50px;
   margin-bottom: 30px;
   text-align: left;
}

.adaptive .f3{
   font-size: 4vw;
}

.green .button{
   margin-top: 45px;
}

.inputs{
   text-align: left;
}

.style-input{
   padding: 0 15px;
   width: 213px;
   border: none;
   outline: none;
   border-radius: 2px;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   line-height: 42px;
   font-size: 16px;
   font-family: EtelkaTextProRegular;
   color: #7c7c7c;
   margin-right: 14px;
}

.style-input:last-child{
   margin-right: 0;
}

.adaptive .style-input{
   box-sizing: border-box;
   width: 100%;
   margin-bottom: 20px;
   font-size: 5vw;
   line-height: 8vw;
}

.title-col{
   font-family: EtelkaMediumProRegular;
   color: #67625b;
   font-size: 12.5px;
   line-height: 18px;
   text-transform: uppercase;
   margin-bottom: -20px;
   padding-top: 15px;
   margin-left: -12px;
   margin-right: -12px;
}

.adaptive .title-col{
   font-size: 6.5vw;
   line-height: 7.2vw;
}

.photo{
   position: relative;
   height: 580px;
}

.adaptive .photo{
   height: 314px;
   margin: 0 -24px 30px;
}

.adaptive .big-photo{
   width: 100%;
   height: 314px;
}

.left-arr{
   display: none;
}

.adaptive .left-arr{
   display: block;
   position: absolute;
   width: 10%;
   height: 314px;
   left: 0;
   background: rgba(0,0,0,0.5) url('../img/ar-left.png') no-repeat scroll 50% 50%;
   cursor: pointer;
   z-index: 10;
}

.adaptive .left-arr:hover{
   background: rgba(0,0,0,0.8) url('../img/ar-left.png') no-repeat scroll 50% 50%;
}

.right-arr{
   display: none;
}

.adaptive .right-arr{
   display: block;
   position: absolute;
   width: 10%;
   height: 314px;
   right: 0;
   background: rgba(0,0,0,0.5) url('../img/ar-right.png') no-repeat scroll 50% 50%;
   cursor: pointer;
   z-index: 10;
}

.adaptive .right-arr:hover{
   background: rgba(0,0,0,0.8) url('../img/ar-right.png') no-repeat scroll 50% 50%;
}

.big-photo{
   position: absolute;
   width: 757px;
   height: 505px;
   background-size: cover;


   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.previews{
   width: 148px;
   right: 0;
   position: absolute;

}

.adaptive .previews{
   display: none;
}

.one-preview{
   width: 148px;
   height: 98px;
   cursor: pointer;
   position: relative;

   margin-bottom: 15px;

   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   -ms-transition-duration: 0.5s; /* IE9+ */
   transition-duration: 0.5s;
}

.one-preview.active:before{
   content: " ";
   width: 134px;
   height: 84px;
   border: 7px solid #5d9f69;
   position: absolute;
}

.one-preview:hover:before  {
   content: " ";
   width: 134px;
   height: 84px;
   border: 7px solid #4576c2;
   position: absolute;
}

.pr-img{
   height: 440px;
   width: 148px;
   overflow: hidden;
   position: absolute;
   top: 45px;
}

.arr-top{
   background: url('../img/ar-top.png') no-repeat scroll 50% 0;
   width: 148px;
   cursor: pointer;
   height: 25px;
   position: absolute;
}

.arr-top:hover{
   opacity: 0.8;
}

.arr-bot{
   background: url('../img/ar-bot.png') no-repeat scroll 50% 0;
   width: 148px;
   cursor: pointer;
   height: 25px;
   position: absolute;
   top: 495px;
}

.arr-bot:hover{
   opacity: 0.8;
}

.map-s{
   text-align: center;
   margin-top: 30px;
}

.adaptive .map-s img{
   width: 100%;
}

.adaptive .map-s{
   margin: 30px -24px 0;
}

.double-col{
   width: 40%;
   margin-right: 10%;
   float: left;
   color: #67625b;
   font-family: EtelkaTextProRegular;
   font-size: 15px;
   line-height: 29px;
}

.adaptive .double-col{
   float: none;
   width: auto;
   margin: 10% 0 0;
   font-size: 5.7vw;
   line-height: 10vw;
}

.usl{
   background: url('../img/usl.jpg') no-repeat scroll 50% 0;
   height: 778px;
   margin-bottom: 70px;
   text-align: center;
}

.adaptive .usl{
   height: auto;
   background: url('../img/usl.png') no-repeat;
   background-size: cover;
   padding-bottom: 70px;
}

.title-usl{
   font-family: EtelkaTextProBold;
   color: #ffffff;
   text-transform: uppercase;
   font-size: 23px;
   line-height: 34px;
   margin: 0 70px 25px;
   padding-top: 100px;
}

.adaptive .title-usl{
   font-size: 7vw;
   line-height: 8vw;
   margin: 0 50px 15px;
}

.buttons{
   width: 412px;
   height: 46px;
   position: relative;
   overflow: hidden;
   border: 2px solid #ffffff;
   border-radius: 23px;
   -moz-border-radius: 23px;
   -webkit-border-radius: 23px;
   display: inline-block;
}

.adaptive .buttons{
}

.buttons table{
   width: 100%;
   height: 46px;
   color: #ffffff;
}

.buttons table td{
   width: 50%;
   text-align: left;
   font-family: EtelkaTextProBold;
   font-size: 12px;
   vertical-align: middle;
   cursor: pointer;
   line-height: 16px;
}


.tab{
   position: absolute;
   display: none;
   padding-top: 150px;
   color: #ffffff;
   width: 620px;

}

.adaptive .tab{
   margin: 0 24px;
   position: relative;
   padding-top: 70px;
}




.tab.active{
   display: block;
}

.tab-title{
   text-align: left;
   font-family: EtelkaTextProBold;
   font-size: 23px;
   line-height: 34px;
   margin-bottom: 25px;
}

.adaptive .tab-title{
   font-size: 5vw;
   line-height: 5.5vw;
}


.tab-text{
   text-align: left;
   font-family: EtelkaNarrowTextProRegular;
   font-size: 16px;
   line-height: 30px;
   margin-bottom: 30px;
}

.adaptive .tab-text{
   font-size: 4vw;
   line-height: 5vw;
}



.buttons table td.active{
   background: #ffffff;
   color: #032f48;
}

.buttons table td div{
   margin-left: 20px;
}

.one-doc{
   margin: 30px 12px 0;
   float: left;
   width: 187px;
   background: #f3f5f0;
   height: 207px;
   padding: 70px 10px 0;
   text-align: center;
   color: #67625b;
   font-size: 15px;
   line-height: 22px;
   font-family: EtelkaMediumProRegular;

}

.adaptive .one-doc{
   float: none;
   margin: 30px 30px;
   width: auto;
   height: auto;
   padding-bottom: 30px;
   font-size: 6.5vw;
   line-height: 8vw;
}

.adaptive .one-doc img{
   width: 20%;
}



.one-doc img{
   margin-bottom: 25px;
}

.one-doc a{
   margin-top: 22px;
   color: #67625b;
   text-decoration: none;
}

.one-doc a:hover{
   color: #4576c2;
}

.docs{
   margin-bottom: 50px;
}

.bot-map{
   background: url('../img/bot-map.png') no-repeat scroll 50% 0;
   height: 633px;
   
}

.adaptive .bot-map{
   background: url('../img/bot-map.png') no-repeat scroll 100% 0;
}

.adaptive .bot-map{
   margin-bottom: 12vw;
   height: auto;
   
}

.bot-map .w982{
   padding-top: 80px;

}

.form-c{
   padding: 68px 0 0 56px;
   height: 392px;
   width: 454px;
   background: url('../img/cont-bg.png');
   color: #ffffff;
   font-size: 18px;
   line-height: 29px;
   font-family: EtelkaTextProRegular;
}

.adaptive .form-c{
   width: auto;
   margin: 553px  -24px 0;
   padding: 68px 0 0 24px;
   
   font-size: 5vw;
   line-height: 6.2vw;
   height: auto;
   
}

.form-c h1{
   color: #ffffff;
}

.m-text{
   font-size: 14px;
   line-height: 22px;
}

.adaptive .m-text{
   font-size: 4vw;
   line-height: 5vw;
}

.foot{
   color: #ffffff;
   font-family: EtelkaTextProRegular;
   font-size: 13px;
   line-height: 51px;
   background: url('../img/menu-bg.png');
}

.adaptive .foot{
   font-size: 3vw;
   line-height: 12vw;
   position: absolute;
   margin-top: -12vw;
   width: 100%;
   
}

.foot a{
   float: right;
   color: #ffffff;
}

.foot a:hover{
   color: #4576c2;
}

.button-menu{
   background: url('../img/ad-menu.png') no-repeat;
   background-size: cover;
   width: 114px;
   height: 81px;
   cursor: pointer;
   display: none;
   position: absolute;
   right: 20px;
   margin-top: 47px;
}

.adaptive .menu .inner-menu a{
   display: block;
   color: #ffffff;
   line-height: 9vw;
   font-size: 5vw;
   white-space: nowrap;
   padding: 0 20px;
}

.adaptive .menu .inner-menu a:hover{
   color: #4576c2;
}

.adaptive .button-menu{
   display: block;
}

.inner-menu{
   display: none;
   position: absolute;
   background: url('../img/menu-bg.png');
   right: -24px;
   top: -47px;
}